<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Docker Test" parallel="classes">
  <test thread-count="5" name="Browser Test">
    <classes>
      <class name="com.staragile.DockerAssig.invokeChrome"/>
      <class name="com.staragile.DockerAssig.invokeEdge"/>
      <class name="com.staragile.DockerAssig.invokeFirefox"/>
    </classes>
  </test> <!-- Browser Test -->
</suite> <!-- Docker Test -->
